<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nabil Bank Stock Forecasting</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <h1>Nabil Bank Stock Forecasting</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="home">
        <h2>Welcome to Nabil Bank Stock Forecasting</h2>
        <p>Here you can find forecasts and analysis for Nabil Bank's stock performance.</p>
    </section>

    <section id="about">
        <h2>About Us</h2>
        <p>We are  team SHIBO of financial analysts and data scientists dedicated to providing accurate forecasts for Nabil Bank's stock.</p>
    </section>

    <section id="services">
        <h2>Our Services</h2>
        <ul>
            <li>Historical Data Analysis</li>
            <li>Trend Analysis</li>
            <li>Machine Learning Forecasting Models</li>
            <li>Customized Reports</li>
        </ul>
    </section>
    <div class="describe">
        <h1>Data From 2018 - 2024</h1>
        {{ df_describe_html | safe }}
        <h1>DataFrame Plot</h1>
        <img src="data:image/png;base64,{{ plot_data }}" alt="DataFrame Plot">
    </div>

    <section id="contact">
        <h2>Contact Us</h2>
        <p>If you have any inquiries or would like to collaborate, please feel free to reach out to us.</p>
        <address>
            Email: info@nabilbankforecasting.com<br>
            Phone: +977 98752217890
        </address>
    </section>

    <footer>
        <p>&copy; 2024 Nabil Bank Stock Forecasting. All rights reserved.</p>
    </footer>
</body>
</html>