<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{stock_name}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stock_info.css') }}">
</head>
<body>
    <header>
        <h1>{{stock_name}} Stock Forecasting</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Team</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    {% if data %}
    <h2>Company Details</h2>
    <table border="1">
        <tr>
            <th>Symbol</th>
            <th>{{ data['Symbol'] }}</th>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ data['Name'] }}</td>
        </tr>
        <tr>
            <th>Sector</th>
            <td>{{ data['Sector'] }}</td>
        </tr>
        <tr>
            <th>Listed Shares</th>
            <td>{{ data['Listed_Share'] }}</td>
        </tr>
        <tr>
            <th>Paid-up</th>
            <td>{{ data['Paid_up'] }}</td>
        </tr>
        <tr>
            <th>Operation Date</th>
            <td>{{ data['Operation_date'] }}</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>{{ data['Phone_Number'] }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ data['Email'] }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ data['Address'] }}</td>
        </tr>
    </table>
    {% else %}
    <p>Couldn't fetch stock info.</p>
    {% endif %}
    <h1>{{ml_algorithm}} on {{stock_name}} data </h1>
    <!-- for plotting the data -->
    <div class="describe">
        <h1>Data Description</h1>
        {{ described_data | safe }}
        
        <h2>{{stock_name}} Stock Prices Plot</h2>
        {% for i in range(0, 3) %}
        <img src="data:image/png;base64,{{ plot_base64[i] }}" alt="Stock Prices Plot">
        {% endfor %}
    </div>

    <div>
        <h1>
            RMSE : {{rmse_a}}
        </h1>
        <img src="data:image/png;base64,{{ predict_plot }}" alt="Stock Prices Plot">
    </div>
    

    <section id="contact">
        <h2>Contact Us</h2>
        <p>If you have any inquiries or would like to collaborate, please feel free to reach out to us.</p>
        <address>
            Email: info@nabilbankforecasting.com<br>
            Phone: +977 98752217890
        </address>
    </section>

    <footer>
        <p>&copy; 2024 Nabil Bank Stock Forecasting. All rights reserved.</p>
    </footer>

</body>
</html>