<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Shibo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='team.css') }}">
</head>
<body>
    <header>
        <h1>ExoStock Forecasting</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Team</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="home">
        <h2>Welcome to ExoStock Forecasting</h2>
        <p>Here you can find forecasts and analysis for any stock performance.</p>
    </section>

    <section id="about">
        <h2>About Us</h2>
        <p>We are  team SHIBO of financial analysts and data scientists dedicated to providing accurate forecasts for any stock.</p>
    </section>

    <section id="services">
        <h2>Our Services</h2>
        <ul>
            <li>Historical Data Analysis</li>
            <li>Trend Analysis</li>
            <li>Machine Learning Forecasting Models</li>
            <li>Customized Reports</li>
        </ul>
    </section>

    <section id="contact">
        <h2>Contact Us</h2>
        <p>If you have any inquiries or would like to collaborate, please feel free to reach out to us.</p>
        <address>
            Email: exopy@gmail.com<br>
            Phone: +977 98752217890
        </address>
    </section>

    <footer>
        <p>&copy; ExoStock Forecasting. All rights reserved.</p>
    </footer>
</body>
</html>